@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



#destaques img:hover{
    background-color: black;
    transform: scale(1);
    width: 160px;
    height: 160px;
}

body{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img{
    object-fit: cover; 
}

button {
    font-size: 14px;
    font-weight: 600;
    padding: 9px 18px;
    border-radius: 8px;
    border: 1px solid transparent;
}
button:hover{ opacity: 0.85; }

#conteudo{
    width: 100%; 
    height: 1000px;
    background-color: white; 
    margin-top: 0;  
    background-size: contain;
}
.gif{
    width: 300px;
    height: auto;
}
#cabecalho img{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}
#fotoperfil img{
    width: 290px;
    height: 290px;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    border: 4px solid rgba(0, 0, 0, 0.5);
    
}
#informacoes{
    width: 100%;
    height: 250px;
    background-color: white;
    display:flex ;
    object-fit: contain;
    gap: 2px;
    justify-content: center;
    
}
.texto {
    width: 400px;
    height: 250px;
    background-color: white;
    justify-content: center;
    padding: 10px;
}
.texto1{
    width: 400px;
    height: 250px;
    background-color: white;
    padding: 10px;
    margin-top: 30px;
}

.stat {
    margin-right: 20px; 
}
.juntinho{
    margin: 0;
}
#destaques{
    width: 100%;
    height: 200px;
    background-color:white;
    display:flex ;
    justify-content: center;  
    img{
        width: 130px;
        height: 130px;
        border: 4px solid rgba(0, 0, 0, 0.7);
    }
}
.destaque{
    width: 150px;
    height: 180px;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    
    img{
        border-radius: 100%;
    }
    p{
        margin-top: 0;
        text-align: center;
        font-weight: 600;
    }  
}
#feed{
    width: 80%;
    height: 650px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    row-gap: 2px;
    justify-content: center;
    margin: 0 auto;
    img{
        width: 210px;
        height: 320px;
        object-fit: cover;
    }
}